# Compiler files
cache/
out/
lib/
# node modles
node_modules

# Ignores development broadcast logs
!/broadcast
/broadcast/*/31337/
/broadcast/**/dry-run/
logs/


# Docs
docs/

# Dotenv file
.env
.network.pid